<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <title> Authentication </title>
</head>
<body>
     <div class="container flex grid-cols-2 mx-auto p-10 mt-10 place-content-center w-100 h-100">
          <div class="p-4 bg-[#F1F1F1] drop-shadow-lg rounded-l-sm">  
              <img class="w-20 mx-auto" src="image/Meta.svg" alt="Meta Platform">
               <p class="text-center text-xl p-1 font-bold font-mono text-blue-700 mt-8"> Meta Platform </p>
               <div class="flex place-content-center mt-8 mb-2">
                   <a href="https://www.facebook.com"> <img class="w-5 h-5" src="image/facebook.svg" alt="Facebook"> </a>
                   <a href="https://www.messenger.com/"> <img class="w-5 h-5" src="image/messenger.svg" alt="Messenger"> </a>
                   <a href="https://www.instagram.com"> <img class="w-5 h-5" src="image/instagram.svg" alt="Instagram"> </a>
                   <a href="https://www.whatsapp.com/"> <img class="w-5 h-5" src="image/whatsapp.svg" alt="WhatsApp">  </a>
                   <a href="https://www.oculus.com"> <img class="w-5 h-5" src="image/oculus.svg" alt="Oculus"> </a>          
               </div>
          </div>
          <div class="p-4 bg-[#4267B2] drop-shadow-lg rounded-r-sm">
               <img class="w-15 h-10 mx-auto rounded-full" src="/image/authLogo.png" alt="Authentication">
               <p class="text-center text-white text-base mt-2 font-mono font-semibold"> Facebook <br /> Authentication </p>
               <a class="flex text-center px-1 mt-6 bg-white rounded-md hover:bg-gray-200" href="/auth/facebook"> 
                    <img class="w-6 h-6" src="image/facebook.svg" alt="Facebook"> 
                    <p class="text-center text-uxl text-blue-900 mt-1 px-1 tracking-tight "> Log in with Facebook </p> 
               </a>
          </div>
     </div>
</body>
</html>